.header__logo {
  width: 176px;
  height: 52px;
  padding-top: 28px;
  display: block;
  padding-bottom: 56px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
    padding-top: 16px;
  }
}
