.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 0;
  margin-bottom: 24px;
  margin-top: 92px;
}

@media screen and (max-width: 1023px) {
  .footer__links {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
    margin-top: 64px;
  }
}
