.place__paragraph {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.place__paragraph:not(:nth-of-type(1)) {
  margin-top: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
