.footer__copyright {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 92px;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 0px;
  }
}
