.cover {
  padding: 90px 48px 0;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 90px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-top: 66px;
  }
}
